.signup{
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.6) 0%, rgba(0, 0, 0, 0.7) 50%, transparent 50%), url(../img/shutterstock_543267709.jpg);
    height: 40rem;
    background-size:100%;
    border-radius: 3px;
    box-shadow: 0 1.75rem 4rem rgba($color-black,.3);

    @include respond(tab-port){
        background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.6) 0%, rgba(0, 0, 0, 0.7) 70%, transparent 100%), url(../img/shutterstock_543267709.jpg);
        
    }

    &__form{
        width:50%;
        padding: 4.6rem;
        padding-bottom: 0;

        @include respond(tab-port){
            width:100%;
        }
    }

    &--tittle{
        font-size: 6rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.75rem;
        color:$color-white;
        font-family: logofont;
    }

    &--tittle-2{
        font-size: 2.5rem;
        font-weight: 700;
        text-transform: uppercase;
        color:$color-white;
        letter-spacing: 1.0rem;
        font-family: logofont;

        @include respond(tab-port){
            font-size: 2rem;
        }

    }

    &__signup-2{
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.6) 0%, rgba(0, 0, 0, 0.7) 50%, transparent 50%), url(../img/girl-kicking.jpg);
    height: 64rem;
    background-size:100%;
    border-radius: 3px;
    box-shadow: 0 1.75rem 4rem rgba($color-black,.3);
    }

    &__signup-3{
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.6) 0%, rgba(0, 0, 0, 0.7) 50%, transparent 50%), url(../img/girl-kicking.jpg);
    height: 64rem;
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.75rem 4rem rgba(0, 0, 0, 0.3);

    @media (min-resolution: 192dpi) and(min-width:600px){
        background-image: url(../img/largemarblerock.png);
    }
    }

    &__signup-4{
        background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.6) 0%, rgba(0, 0, 0, 0.7) 50%, transparent 50%), url(../img/girl-kicking.jpg);
        height: 40rem;
        background-size:100%;
        border-radius: 3px;
        box-shadow: 0 1.75rem 4rem rgba($color-black,.3);
    
        @include respond(tab-port){
            background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.6) 0%, rgba(0, 0, 0, 0.7) 70%, transparent 100%), url(../img/girl-kicking.jpg);
            
        }
    
        &__form{
            width:50%;
            padding: 4.6rem;
    
            @include respond(tab-port){
                width:100%;
            }
        }
    }
    
}
